html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#container {
    height: 92%;
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    position: fixed;
    margin: 2% 0;
}

.slide {
    max-width: 100%;
    max-height: 100%;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: relative;
}


.animate-left {
    animation: animateleft 1.5s
}

@keyframes animateleft {
    from { left :-500px; opacity:0 } to { left:0; opacity:1 }
}

.jumbotron{
    padding: 1rem 2rem 2rem 2rem;
}

#news {
    height: 100%;
    width: 38%;
    float: left;
    overflow-wrap: break-spaces;
}

#slideshow {
    height: 100%;
    width: 60%;
    padding: 0 2%;
    float: left;
    text-align: center;
}

.toast {
    max-width: 52%;
    position: absolute;
    bottom: 2%;
    left: 4%;
    display: none;
}

.toast-body {
    font-size: 1.2rem;
}

#newsHeadline {
    font-weight: 400;
}

#newsIntro {
    font-weight: 300;
    font-size: 2rem;
}

#newsContent {
    font-weight: 400;
    font-size: 1.5rem;
}
