<!DOCTYPE html>
<html lang="de"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>IKL</title>

    <!-- Dropzone -->
    <link rel="stylesheet" type="text/css" href="/css/dropzone.css">
    <script src="/js/dropzone.js"></script>

    <!-- Bootstrap -->
    <link rel='stylesheet' href='/webjars/bootstrap/css/bootstrap.min.css'>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Font-Awesome -->
    <link rel='stylesheet' href='/webjars/font-awesome/css/fontawesome.min.css'>
    <link rel='stylesheet' href='/webjars/font-awesome/5.8.2/css/solid.min.css'>
    <link rel='stylesheet' href='/webjars/font-awesome/5.8.2/css/regular.min.css'>

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/css/adminImages.css">

    <!-- Custom JS -->
    <script src="/js/adminImages.js"></script>
</head>
<body>
<div style="width: 90%; margin-left: 5%; padding-top: 5%; float: left;">
    <div class="jumbotron" style="text-align: center;">
        <h1>Neue Bilder hinzufügen</h1>

        <br>

        <form th:action="@{/admin/images/upload}" class="dropzone dz-clickable" id="image-dropzone">
            <div class="dz-message d-flex flex-column">
                <i class="fas fa-images"></i>
                Bild(er) hierhin ziehen oder klicken
            </div>
        </form>
    </div>

    <div class="jumbotron" style="margin-top: 5%;">
        <span style="text-align: center">
            <h1>Alle Bilder</h1>
        </span>

        <br/>

        <div th:each="image : ${allImages}"
             class="card"
             style="margin-top: 1%;"
             th:id="'image-card-' + ${image.id}">
            <div class="card-body">
                <div class="row">
                    <div class="col-3">
                        <a th:href="@{'/images/' + ${image.file}}">
                            <img class="image"
                                 th:src="@{'/images/' + ${image.file}}"/>
                        </a>
                    </div>
                    <div class="col-8">
                        <div class="input-group mb-3">
                            <input type="text"
                                   class="form-control"
                                   th:value="${image.info}"
                                   th:id="'image-info-' + ${image.id}"
                                   placeholder="Info hinzufügen"
                                   data-container="body"
                                   data-toggle="popover-manual"
                                   data-placement="bottom"
                                   data-content="Info gespeichert."/>

                            <div class="input-group-append">
                                <button type="button"
                                        class="btn btn-outline-secondary"
                                        th:data-image-id="${image.id}"
                                        onclick="setInfo(this.getAttribute('data-image-id'))"
                                        data-container="body"
                                        data-toggle="popover"
                                        data-placement="bottom"
                                        data-content="Speichern">
                                    <span class="fas fa-check"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-1">
                        <button type="button"
                                class="btn btn-danger"
                                data-toggle="popover"
                                data-placement="bottom"
                                data-content="Bild löschen"
                                th:data-image-id="${image.id}"
                                onclick="deleteImage(this.getAttribute('data-image-id'))">
                            <span class="far fa-trash-alt"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>