<!DOCTYPE html>
<html lang="de"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>IKL</title>

    <!-- Bootstrap -->
    <link rel='stylesheet' href='/webjars/bootstrap/css/bootstrap.min.css'>

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="css/welcome.css">
</head>
<body>
    <div id="container">
        <div id="slideshow">
            <img id="slide" class="slide animate-left" src=""/>
        </div>

        <div id="news" class="jumbotron">
            <h1 class="display-4">Hello, world!</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        </div>
    </div>
</body>

<script type="text/javascript">
    function updateImage(base64)
    {
        // Clone and reinsert image to trigger keyframe animation again
        var oldImage = document.getElementById("slide");
        var newImage = oldImage.cloneNode(true);
        newImage.setAttribute("src", "data:image;base64, " + base64);
        oldImage.parentNode.replaceChild(newImage, oldImage);
    }

    function getNewImage() {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.onreadystatechange = function() {
            if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
                updateImage(xmlHttp.responseText);
        };
        xmlHttp.open("GET", "/nextimage", true);
        xmlHttp.send(null);

        setTimeout(getNewImage, 10000);
    }

    getNewImage();

</script>
</html>