<!DOCTYPE html>
<html lang="de"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>IKL</title>

    <!-- Bootstrap -->
    <link rel='stylesheet' href='/webjars/bootstrap/css/bootstrap.min.css'>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="css/welcome.css">

    <!-- Showdown -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.0/showdown.min.js"></script>

    <!-- Custom JS -->
    <script src="/js/welcome.js"></script>
</head>
<body>
<div id="container">
    <div id="slideshow">

        <img id="slideA" class="slide animate-left" th:src="@{/assets/fallback.jpg}"/>
        <img id="slideB" class="slide animate-left" th:src="@{/assets/fallback.jpg}" style="display: none;"/>
    </div>

    <div id="infoA"
         class="toast"
         data-autohide="false">
        <div class="toast-body"></div>
    </div>

    <div id="infoB"
         class="toast"
         data-autohide="false">
        <div class="toast-body"></div>
    </div>

    <div id="news" class="jumbotron">
        <h1 id="newsHeadline"
            class="display-4">Wird geladen...</h1>
        <p id="newsIntro">Hier könnte Ihre Werbung stehen!</p>
        <hr class="my-4">
        <div id="newsContent">
        </div>
    </div>
</div>
</body>
</html>